
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.buttonmyappointment{
    background-color: black;
    color: white;
    padding: 10px 25px 10px 25px;
    border: 1px solid black;
    border-radius: 50px;
    font-family: "poppins",sans-serif;
    font-weight: 600;
}
.buttonmyappointment:hover{
    background-color: white;
    color: black;
    padding: 10px 25px 10px 25px;
    border: 1px solid black;
    border-radius: 50px;
    font-family: "poppins",sans-serif;
    font-weight: 600;
}

.containerpro {
    position: relative;
    overflow: hidden;
  }
  
  .content {
    border: 1px solid black;    padding-top: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .blur {
 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.822);
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    z-index: 0;
  }

  .content1 {
    border: 1px solid black;   
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .blur1 {
 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.822);
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    z-index: 0;
  }
  

  .bookappointments{

    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px 50px 10px 50px;
    margin: 0px 0px 25px 0px;
}
.bookappointments:hover{
  background-color: black;
  color: white;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px 50px 10px 50px;
   
 
}


.submitreview{

  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px 50px 10px 50px;
  margin: 0px 0px 25px 0px;
}

.submitreview:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px 50px 10px 50px;
}

.starhover{
  height: 30px;
  }

.starhover:hover{
transition: 100ms;
height: 40px;
}